:root {
    --bg-color: #F5F0FF;
    --accent-color: #9A6EE2;
    --main-text-color: #2A0B4F;
    --second-text-color: #6B4E8E;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

body {
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
    height: 100vh;
}

.side__img {
    position: fixed;
    right: 0;
    bottom: 20px;
    z-index: 500;
    animation-name: leftRight;
    animation-duration: 3s;
    /* Duration of one animation cycle */
    animation-timing-function: linear;
    /* Constant speed */
    animation-iteration-count: infinite;
}

.bubble {
    display: none;
    position: fixed;
    right: 80px;
    bottom: 130px;
    z-index: 500;
    animation-name: leftRight;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.side__img:hover+.bubble {
    display: block;
}

.wrapper {
    position: relative;
}

.section {
    position: sticky;
    top: 0;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: 1px solid var(--main-text-color);
    box-shadow: 0px -10px 20px var(--accent-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    overflow: hidden;
    max-width: calc(1440px - 15px * 2);
    margin: 0 auto;

    height: 100vh;
}

.main__text {
    color: var(--main-text-color);
}

.second__text {
    color: var(--second-text-color);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rel {
    position: relative;
}

.kiss {
    position: absolute;
    top: -100px;
    right: 200px;
}

.inner__text {
    width: 40%;
}

.margin {
    margin-bottom: 30px;
}

.btn {
    padding: 10px 30px;
    font-family: "Caveat", cursive;
    font-size: 20px;
    color: var(--second-color);
    background-color: var(--accent-color);
    border: 1px solid var(--main-text-color);
    border-radius: 40px;
    cursor: pointer;
}

.img {
    filter: drop-shadow(0px 0px 20px var(--accent-color));
}

.img__1 {
    animation: moveing_1 3.7s ease-in-out infinite;
}

.img__2 {
    animation: gentle-shake 4s ease-in-out infinite;
}

.img__3 {
    animation: moving_gentle 4s ease-in-out infinite;
}

.img__4 {
    animation: wind-sway 3s ease-in-out infinite;
}

.swiper {
    width: 300px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    padding: 30px 0;
    width: 400px;
}

video {
    border-radius: 10px;
    box-shadow: 0 0 30px var(--second-text-color)
}

i {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 8px;
    opacity: 0;
    animation: bang 1.5s ease-out forwards;
    pointer-events: none;
}

@keyframes bang {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveing_1 {
    0% {
        transform: translate(-10px, 15px);
    }

    20% {
        transform: translate(5px, 10px);
    }

    40% {
        transform: translate(-2px, 1px);
    }

    60% {
        transform: translate(-7, 3px);
    }

    80% {
        transform: translate(-10px, -15px);
    }

    100% {
        transform: translate(-10px, 15px);
    }
}


@keyframes moving_gentle {
    0% {
        transform: translate(-8px, 12px);
    }

    20% {
        transform: translate(3px, 8px);
    }

    40% {
        transform: translate(-1px, 2px);
    }

    60% {
        transform: translate(-5px, 4px);
    }

    80% {
        transform: translate(-8px, -12px);
    }

    100% {
        transform: translate(-8px, 12px);
    }
}

@keyframes gentle-shake {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    10% {
        transform: translate(-2px, -2px) rotate(-0.5deg);
    }

    20% {
        transform: translate(2px, 2px) rotate(0.5deg);
    }

    30% {
        transform: translate(-2px, 2px) rotate(-0.3deg);
    }

    40% {
        transform: translate(2px, -2px) rotate(0.3deg);
    }

    50% {
        transform: translate(-2px, -2px) rotate(-0.2deg);
    }

    60% {
        transform: translate(2px, 2px) rotate(0.2deg);
    }

    70% {
        transform: translate(-2px, 2px) rotate(-0.1deg);
    }

    80% {
        transform: translate(2px, -2px) rotate(0.1deg);
    }

    90% {
        transform: translate(-2px, -2px) rotate(-0.05deg);
    }
}

@keyframes wind-sway {

    0%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }

    33% {
        transform: translate(1px, 0) rotate(2deg);
    }

    66% {
        transform: translate(-1px, 1px) rotate(-2deg);
    }
}

@keyframes happy-tremble {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(0.5px, 0.5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(-0.5px, -0.5px);
    }
}
