:root {
    --bg-color: #F5F0FF;
    --accent-color: #9A6EE2;
    --main-text-color: #2A0B4F;
    --second-text-color: #6B4E8E;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

body {
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
}

.side__img {
    position: fixed;
    right: 0;
    top: 70%;
    z-index: 500;
    animation-name: leftRight;
    animation-duration: 3s;
    /* Duration of one animation cycle */
    animation-timing-function: linear;
    /* Constant speed */
    animation-iteration-count: infinite;
    /* Loops forever */
    /* animation-direction: alternate; */
    /* Uncomment to make it go back and forth */
}

.wrapper {
    position: relative;
}

.section {
    position: sticky;
    top: 0;
    margin: 0 auto;
    background-color: var(--bg-color);
    border: 1px solid var(--main-text-color)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    overflow: hidden;
    max-width: calc(1440px - 15px * 2);

    height: 100vh;
}

.main__text {
    color: var(--main-text-color);
}

.second__text {
    color: var(--second-text-color);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 30px;
    font-family: "Caveat", cursive;
    font-size: 20px;
    color: var(--second-color);
    background-color: var(--accent-color);
    border: 1px solid var(--main-text-color);
    border-radius: 40px;
    cursor: pointer;
}

.img {
    filter: drop-shadow(0px 0px 20px var(--accent-color));
}

.swiper {
    width: 600px;
    height: 300px;
}

@keyframes leftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}
